*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --index: calc(1vw + 1vh);
}

body{
  color: #333;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: 0px auto;
  width: 90%;
}